
.chat-box{
  border: 1px solid rgb(189, 189, 189);
  border-radius: 5px;
  position: absolute;
  top: -800%;
  width: 25%;
  height: auto;
  left: 50%;
  background-color: white;
}
.chat-box-head{
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
  margin-top: 5%;
}
.chat-box-footer{
  display: flex;
justify-content: space-around;
margin-bottom: 5%;
}
.chat-box-middle
{
  height: 30vh;
  background-image:linear-gradient(rgba(109, 108, 108, 0.616),rgba(109, 108, 108, 0.616)), url(../images/background-img/bg-chat.jpg);
  margin-bottom: 5%;
}
.chat-para{
  background-color: brown;
  color: white;
  padding: 2%;
  border-radius: 5px;
  margin-top: 5%;
}
.logo-chat-box-1{
  width: 11%;
}
.chat-h4{
  margin-top: 3%;
}
.chat-close,
.chat-send {
  font-size: xx-large;
}

.password-icon {
  position: absolute;
  top: 543px !important;
  left: 57%;
}

#close-eye {
  display: none;
}
@media screen and (min-width: 1900px) and (max-width:2000px) {
    .password-icon{
      top: 543px !important;
        left: 58%;
    }
}

@media screen and (min-width: 1800px) and (max-width:1900px) {
    .password-icon{
      top: 543px !important;
        left: 59%;
    }
}

@media screen and (min-width: 1700px) and (max-width:1800px) {
    .password-icon{
      top: 543px !important;
        left: 59%;
    }
}

@media screen and (min-width: 1600px) and (max-width:1700px) {
    .password-icon{
      top: 543px !important;
        left: 59%;
    }
}

@media screen and (min-width: 1500px) and (max-width:1600px) {
    .password-icon{
      top: 543px !important;
        left: 59%;
    }
}

@media screen and (min-width: 1400px) and (max-width:1500px) {
    .chat-h4 {
        margin-top: 5%;
        font-size: 100%;
      }
      .logo-chat-box-1 {
        width: 21%;
      }
      .chat-close{
        font-size: xx-large;
      }
      .chat-para{
        font-size: medium;
      }
      .password-icon{
      top: 543px !important;
        left: 59%;
    }
}

@media screen and (max-width: 1400px) and (min-width: 1300px) {
    .chat-h4 {
        margin-top: 6%;
        font-size: 100%;
      }
      .logo-chat-box-1 {
        width: 21%;
      }
      .chat-close{
        font-size: x-large;
      }
      .chat-para{
        font-size: medium;
      }
      .password-icon{
        top: 478px !important;
        left: 59%;
    }
    .chat-box{
      width: 30%;
    }
}
@media screen and (max-width: 1300px) and (min-width: 1200px) {
    .chat-h4 {
        margin-top: 7%;
        font-size: 100%;
      }
      .logo-chat-box-1 {
        width: 21%;
      }
      .chat-close{
        font-size: larger;
      }
      .chat-para{
        font-size: medium;
      }
      .password-icon{
        top: 478px !important;
        left: 59%;
    }
    .chat-box{
      width: 35%;
    }
}

@media screen and (max-width: 1200px) and (min-width: 1100px) {
    .chat-h4 {
        margin-top: 8%;
        font-size: 100%;
      }
    .logo-chat-box-1 {
        width: 21%;
      }
      .chat-close{
        font-size: large;
      }
      .chat-para{
        font-size: medium;
      }
      .password-icon{
        top: 416px !important;
    left: 60%;
    }
    .chat-box{
      width: 35%;
    }
}

@media screen and (max-width: 1100px) and (min-width: 1000px) {
    .chat-h4{
      
        margin-top: 9%;
    }
    .logo-chat-box-1 {
        width: 21%;
      }
      .chat-close{
        font-size: medium;
      }
      .chat-para{
        font-size: small;
      }
      .password-icon{
        top: 416px !important;
        left: 60%;
    }
    .chat-box{
      width: 40%;
    }
}

@media screen and (max-width: 1000px) and (min-width: 900px) {
    .password-icon{
      top: 323px !important;
      left: 59%;
    }
    .chat-box {
      top: 100%;
      width: 45%;
      height: auto;
      left: 40%;
    }
    .logo-chat-box-1 {
      width: 16%;
    }
    .form-control-1{
      font-size: small;
    }
}

@media screen and (max-width: 900px) and (min-width: 800px) {
    .password-icon{
      top: 323px !important;
      left: 60%;
    }
    .chat-box {
      top: 100%;
      width: 45%;
      height: auto;
      left: 40%;
    }
    .logo-chat-box-1 {
      width: 16%;
    }
    .form-control-1{
      font-size: small;
    }
}

@media screen and (max-width: 800px) and (min-width: 700px) {
  .password-icon{
    top: 255px !important;
    left: 58%;
  }
    .chat-box {
      top: 100%;
      width: 45%;
      height: auto;
      left: 40%;
    }
    .logo-chat-box-1 {
      width: 16%;
    }
    .chat-para{
      font-size: 71%;
    }
    .form-control-1{
      font-size: x-small;
    }
}

@media screen and (max-width: 700px) and (min-width: 600px) {
    .password-icon{
      top: 258px !important;
      left: 60%;
    }
    .form-control-1{
      font-size: x-small;
    }
    .chat-box {
      top: 100%;
      width: 45%;
      height: auto;
      left: 40%;
    }
    .logo-chat-box-1 {
      width: 16%;
    }
    .chat-para{
      font-size: 71%;
    }
    .chat-h4 {
      margin-top: 8%;
      font-size: 86%;
    }
    .chat-close {
      font-size: large;
    }
    .chat-box-middle {
      height: 25vh;
    }
}

@media screen and (max-width: 600px) and (min-width: 500px) {
  .password-icon{
    top: 384px !important;
    left: 67%;
  }
  .form-control-1{
    font-size: x-small;
  }
      .chat-box {
        top: 100%;
        width: 45%;
        height: auto;
        left: 40%;
      }
      .logo-chat-box-1 {
        width: 16%;
      }
      .chat-para{
        font-size: 60%;
      }
      .chat-h4 {
        margin-top: 8%;
        font-size: 86%;
      }
      .chat-close,.chat-send{
        font-size: large;
      }
      .chat-box-middle {
        height: 20vh;
      }
}

@media screen and (max-width: 500px) and (min-width: 450px) {
  .password-icon{
    top: 337px !important;
    left: 67%;
  }
  .form-control-1{
    font-size: x-small;
  }
      .chat-box {
        top: 100%;
        width: 45%;
        height: auto;
        left: 40%;
      }
      .logo-chat-box-1 {
        width: 16%;
      }
      .chat-para{
        font-size: 40%;
      }
      .chat-h4 {
        margin-top: 8%;
        font-size: 86%;
      }
      .chat-close,.chat-send{
        font-size: large;
      }
      #chat-input{
        font-size: 50%;
      }
      .chat-box-middle {
        height: 15vh;
      }
}

@media screen and (max-width: 450px) and (min-width: 400px) {
  .password-icon{
    top: 303px !important;
    left: 67%;
  }
  .form-control-1{
    font-size: x-small;
  }
      .chat-box {
        top: 100%;
        width: 50%;
        height: auto;
        left: 40%;
      }
      .logo-chat-box-1 {
        width: 24%;
      }
      .chat-para{
        font-size: 40%;
      }
      .chat-h4 {
        margin-top: 8%;
        font-size: 58%;
      }
      .chat-close,.chat-send{
        font-size: medium;
      }
      #chat-input{
        font-size: 50%;
      }
      .chat-box-middle {
        height: 12vh;
      }
}
@media screen and (max-width: 400px) and (min-width: 350px) {
  .password-icon{
    top: 270px !important;
    left: 67%;
  }
  .form-control-1{
    font-size: x-small;
  }
      .chat-box {
        top: 100%;
        width: 50%;
        height: auto;
        left: 40%;
      }
      .logo-chat-box-1 {
        width: 24%;
      }
      .chat-para{
        font-size: 40%;
      }
      .chat-h4 {
        margin-top: 8%;
        font-size: 58%;
      }
      .chat-close,.chat-send{
        font-size: medium;
      }
      #chat-input{
        font-size: 50%;
      }
      .chat-box-middle {
        height: 12vh;
      }
}
@media screen and (max-width: 350px) and (min-width: 300px) {
  .password-icon{
    top: 249px !important;
    left: 67%;
  }
  .form-control-1{
    font-size: x-small;
  }
      .chat-box {
        top: 100%;
        width: 50%;
        height: auto;
        left: 40%;
      }
      .logo-chat-box-1 {
        width: 24%;
      }
      .chat-para{
        font-size: 40%;
      }
      .chat-h4 {
        margin-top: 8%;
        font-size: 58%;
      }
      .chat-close,.chat-send{
        font-size: medium;
      }
      #chat-input{
        font-size: 50%;
      }
      .chat-box-middle {
        height: 12vh;
      }
}

@media screen and (max-width: 300px) and (min-width: 200px) {
  .password-icon{
    top: 207px !important;
    left: 67%;
  }
  .form-control-1{
    font-size: xx-small;
  }
      .chat-box {
        top: 100%;
        width: 50%;
        height: auto;
        left: 40%;
      }
      .logo-chat-box-1 {
        width: 24%;
      }
      .chat-para{
        font-size: 20%;
      }
      .chat-h4 {
        margin-top: 8%;
        font-size: 39%;
      }
      .chat-close,.chat-send{
        font-size: medium;
      }
      #chat-input{
        font-size: 40%;
      }
      .chat-box-middle {
        height: 8vh;
      }
}
